.idea
.DS_Store
.vscode

backend/venv
backend/.DS_Store
backend/backend/__pycache__/
backend/controller/__pycache__/
backend/controller/migrations/__pycache__/


# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*