#head {
    font-family: Montserrat;
    font-style: normal;
    font-size: 64px;
    text-align: center;
    background-color: #8EE167;
    border-radius: 48px;
    padding: 4px 60px;

    color: #FFFFFF;
}