body {
    background-color: rgba(219, 255, 141, 0.64);
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: auto;
    font-family: Montserrat;
}

.container {
    background-color: rgba(255, 192, 157, 0.41);
    padding: 40px;
    box-shadow: 0px 4px 0px 4px #FFFFFF;
    border-radius: 59px;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}