/* Login Page */
.container {
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Rectangle 11 */
.background-cover {
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    
    background: rgba(219, 255, 141, 0.64);
    mix-blend-mode: color-burn;
}

/* NavBar */
.navBar {
    position: absolute;
    width: 1440px;
    height: 82px;
    left: 0px;
    top: 0px;
}

/* Rectangle 5 */
.navBar-Background {
    position: absolute;
    width: 1440px;
    height: 82px;
    left: 0px;
    top: 0px;
    
    background: #8EE167;
}

/* redeem_black_24dp 1 */
.navBar-logo {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 21px;
    top: 14px;
}

/* Vector */
.logo-background {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
}

/* Vector */
.logo-actual {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 12.5%;
    
    background: #FFFFFF;
}

/* Santa’s Nice List */
.logo-text {
    position: absolute;
    width: 344px;
    height: 40px;
    left: 78px;
    top: 17px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    
    color: #FFFFFF;
}

/* InputBox */
.inputBox {
    position: absolute;
    width: 1022px;
    height: 546px;
    left: 209px;
    top: 269px;
}




/* Rectangle 7 */
.inputBox-Background {
    position: absolute;
    width: 1022px;
    height: 546px;
    left: 209px;
    top: 269px;
    
    background: rgba(255, 192, 157, 0.41);
    box-shadow: 0px 4px 0px 4px #FFFFFF;
    border-radius: 59px;
}

/* Username Entry */
.userNameEntry {
    position: absolute;
    width: 965px;
    height: 79px;
    left: 209px;
    top: 315px;
}




/* Rectangle 8 */
.userNameEntry-Background {
    position: absolute;
    width: 900px;
    height: 79px;
    left: 274px;
    top: 315px;
    
    background: #FFFFFF;
    border-radius: 10px;
}



/* Username: */
.userNameEntry-Label {
    position: absolute;
    width: 388px;
    height: 49px;
    left: 209px;
    top: 330px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #8EE167;
}




/* Password Entry */
.passwordEntry {
    position: absolute;
    width: 965px;
    height: 79px;
    left: 209px;
    top: 408px;
}




/* Rectangle 8 */
.passwordEntry-Background {
    position: absolute;
    width: 900px;
    height: 79px;
    left: 274px;
    top: 408px;
    
    background: #FFFFFF;
    border-radius: 10px;
}



/* Password: */
.passwordEntry-Text {
    position: absolute;
    width: 388px;
    height: 49px;
    left: 209px;
    top: 423px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #8EE167;
}




/* LogInBtn */
.logInBtn {
    position: absolute;
    width: 478px;
    height: 60px;
    left: 481px;
    top: 516px;
}




/* Rectangle 9 */
.logInBtn-Background {
    position: absolute;
    width: 478px;
    height: 60px;
    left: 481px;
    top: 516px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 0px #8EE167;
    border-radius: 14px;
}



/* Log In */
.logInBtn-Text {
    position: absolute;
    width: 437px;
    height: 34px;
    left: 503px;
    top: 530px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #8EE167;
}




/* CreateAccountButton */
.createAccountBtn {
    position: absolute;
    width: 478px;
    height: 60px;
    left: 481px;
    top: 700px;
}




/* Rectangle 9 */
.createAccountBtn-Background {
    position: absolute;
    width: 478px;
    height: 60px;
    left: 481px;
    top: 700px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 0px rgba(255, 192, 157, 0.71);
    border-radius: 14px;
}



/* Create an account */
.createAccountBtn-Text {
    position: absolute;
    width: 437px;
    height: 34px;
    left: 503px;
    top: 714px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #FFAF83;
}




/* Don’t have an account? */
.questionText {
    position: absolute;
    width: 494px;
    height: 32px;
    left: 473px;
    top: 638px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #80AD82;
}




/* Title */
.title {
    position: absolute;
    width: 794px;
    height: 103px;
    left: 323px;
    top: 124px;
}




/* Rectangle 6 */
.title-Background {
    position: absolute;
    width: 736px;
    height: 103px;
    left: 352px;
    top: 124px;
    
    background: #8EE167;
    border-radius: 48px;
}



/* Log-In */
.title-Text {
    position: absolute;
    width: 794px;
    height: 79px;
    left: 323px;
    top: 136px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    
    color: #FFFFFF;
}


