body {
    background-color: white;
    background-image: white;
    background-size: cover;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: auto;
    font-family: Montserrat, serif;
}

h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    font-variant: small-caps;
    color: #8EE167;
}

h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    color: #FFAF83;
}

.items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: -10px 0 0 0;
}

.item-container {
    margin-top: 10px;
    background-color: rgba(255, 175, 131, 0.33);
    border-radius: 30px;
    padding: 40px;
    max-width: 25%;
}

.item-img {
    width: 100px;
    height: 100px;
    float: right;
}

.item-button {
    float: right;
}

.wish_lists {
    z-index: 2;
    position: relative;
}

.newWishlist {
    background-color: rgb(253, 226, 212);
    padding: 40px;
    box-shadow: 0 4px 0 4px #FFFFFF;
    border-radius: 59px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    z-index: 2;
}