nav {
    margin: 0 auto;
    background-color:rgb(172, 233, 157);
    opacity: 0.9;
    font-family: monospace;
}

.nav a:link {
    color:white;
    text-decoration: none;
}

.nav a:visited {
    color:green;
}

.nav a:hover {
    color:  rgb(252, 200, 176);
}