body {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: auto;
    font-family: Montserrat, serif;
    z-index: 1;
}

.background {
    background-image: url('../../images/winter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.background-cover {
    background-color: rgba(219, 255, 141, 0.64);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: color-burn;
}

.background-blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    height: 100%;
	width: 100%;
}

.container {
    background-color: rgb(253, 226, 212);
    padding: 40px;
    box-shadow: 0 4px 0 4px #FFFFFF;
    border-radius: 59px;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    z-index: 2;
}

.entryBox {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

label {
    color: #8EE167;
    font-size: 36px;
    padding-right: 15px;
}

input[type="text"], input[type="password"] {
    background: transparent;
    border: none;
    outline: none;
    height: 200%;
    font-size: 24px;
    opacity: 0.5;
}

.pad {
    padding: 10px;
}

.buttons {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#title {
    position: relative;
    z-index: 2;
}